.Trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 25px;
}
.Title {
  width: 100%;
  margin-left: 2%;
  color: white;
}
* {
  box-sizing: border-box;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

/*-- our cleafix hack -- */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  width: 16.66%;
}

.col-1 {
  width: 16.66%;
}
.col-2 {
  width: 33.33%;
}
.col-3 {
  width: 50%;
}
.col-4 {
  width: 66.66%;
}
.col-5 {
  width: 83.33%;
}
.col-6 {
  width: 100%;
}
