.card {
  /* Rectangle 10 */

  display: flex;
  align-items: end;
  justify-content: space-around;

  width: 460px;
  height: 250px;

  background: url(RDR2.jpg);
  background-size: 100%;
  filter: drop-shadow(7px 7px 4px rgba(139, 139, 139, 0.2));
  border-radius: 20px;
}

.card h2 {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
