.profile {
  justify-content: center;
}
.inText {
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  .inText {
    margin-left: 10%;
  }
}
