.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.LoginForm {
  padding: 20px;
  background-color: #2f2e2e;
  border-radius: 10px;
  margin-top: 20px;
  width: 140%;
  height: 120%;
  max-width: 470px;
  text-align: center;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.LoginInput {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.LoginPage h2 {
  color: white;
  font-size: 36px;
}

.LoginPage label {
  color: white;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

.Forgotpassword {
  color: white;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  margin-top: -12px;
}

.Forgotpassword:hover {
  cursor: pointer;
}

.NewToLowkey {
  margin-left: 0;
  color: white;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  text-align: center;
}

.Createaccount {
  width: 200px;
}
