.aboutGameDiv {
  width: 100%;
  color: white;
  position: relative;
  max-width: 1200px;
  margin: auto;
  margin: 2em 0;
}

.gameRequirements {
  display: flex;
  gap: 1;
}

.gameRequirement {
  flex: 1;
  margin: 6px;
}

.gameRequirement h3 {
  margin-left: 0;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .aboutGameDiv {
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 100%;
  }

  .aboutGameDiv p {
    font-size: 0.7em;
  }

  .gameRequirement h3 {
    font-size: 1em;
  }

  .gameRequirement p {
    font-size: 0.7em;
  }
}
