/* .gamesBackOffice {
  max-width: 1200px;
  margin: auto;
}

.containerGames {
  display: flex;
  flex-wrap: wrap;
}

.title {
  margin: 5;
  color: white;
}

.divGame {
  max-width: fit-content;
}

.divGame div {
  display: flex;
  justify-content: space-between;
} */

.backDiv {
  display: flex;
  justify-content: center;
}
