.boas {
  position: relative;
}

.adeus {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* Add any specific styling for your LoginPage component */
}
