.main {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divContentor {
  margin-top: 2em;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 2;
}
