.inputTA {
  display: flex;
  flex-direction: column;
}
.inputTA label {
  margin-bottom: 8px;
  font-size: 16px;
  color: white;
}
.inputTA textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
}
