.search-popup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: #1e1e1e;
  position: absolute;
  border-radius: 4px;
  z-index: 1000;
}

.no-results {
  padding: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
}








