.navBar {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  margin: 0.5em;
  color: red;
}

.navBarList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.classLi {
  margin-left: auto;
}

.search {
  margin: 0 auto;
}

.searchBar {
  width: 25em;
  height: 3em;
  border-radius: 1em;
  border: 0;
  text-indent: 10px;
  font-weight: 700;
}

.searchBar:focus {
  outline-width: 1em;
  outline-color: red;
}

.icon {
  font-size: 2.5em;
  margin-top: 5px;
  margin-left: 0.8em;
  padding: 0px;
}

@media (max-width: 700px) {
  .searchBar {
    width: 10em;
    height: 1.5em;
    border-radius: 1em;
    border: 0;
    text-indent: 10px;
    font-weight: 500;
  }

  h1 {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0.5em;
    color: red;
  }

  .icon {
    font-size: 1.5em;
    margin-top: 5px;
    margin-left: 0.8em;
    padding: 0px;
  }
}
