.grid-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

div .col-3 p {
  color: White;
  font-size: 20px;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.btnForm {
  margin-top: 2%;
}

@media only screen and (max-width: 600px) {
  .btnForm {
    margin-top: 2em;
    margin-left: 10%;
  }
}
