.RegisterPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.RegisterForm {
  padding: 20px;
  background-color: #2f2e2e;
  border-radius: 10px;
  margin-top: 20px;
  width: 390px;
  height: 110%;
  max-width: 400px;
  text-align: center;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.RegisterinInput {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.RegisterPage h2 {
  color: white;
  font-size: 36px;
}

.RegisterPage label {
  color: white;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

p {
  color: red;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .RegisterForm {
    width: 120%;
  }
}
