.bannerFigure {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.banner {
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 30em;
}

.bannerFigure div {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.bannerFigure div div {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  margin: 0.5em;
}

.bannerh2 {
  font-size: 3vw;
}

.bannerPrice {
  font-size: 2.5vw;
}

@media (max-width: 700px) {
  .banner {
    height: 15em;
  }
}

@media (max-width: 450px) {
  .bannerh2 {
    font-size: 7vw;
  }
  .bannerPrice {
    font-size: 5vw;
  }
}
