.container {
  width: 656px;
  background-color: #2d2d2d;
  border-radius: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content {
  display: flex;
  flex-direction: column;
}

.game-info {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #494949;
}

.info-text {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.name {
  margin: 0;
  font-size: 24px;
  flex-grow: 1;
}

.price {
  font-size: 20px;
  margin-left: 16px;
  margin-right: 16px;
}

.dropdown-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-button:hover {
  color: #ccc;
}

.details {
  background-color: #3d3d3d;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.detail-item {
  flex: 1 1 48%;
  font-size: 16px;
  line-height: 1.5;
}
.picture {



}